//meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
.wrap
   .title
      h1 Etienne Begert
      h4#sub Software Developer and cybersecurity enthusiast
   nav.clearfix
            ul.clearfix
               li
                  a href="#" Home
               li
                  a href="#" Projects
               li
                  a href="#" Resume
            a href="#" id="pull" Menu
   .main
            h2 About Me
            p.b-text I am a developer and security enthusiast living in the great state of Washington. I am a big fan of open-source software and use Fedora linux as my default OS. I am working to get involved in volunteering and developing for the Fedora Project and Mozilla. My hobbies include hiking, gaming (both board and video games), tennis, Arduino, and more. I am involved in trailbuilding for the WTA in Washington. Having taught programming to elementary through high school ages, I am also very passionate about teaching programming and spreading knowledge to the next generation of coders.
            h2 Skills
            table
               tr
                  td Java
                  td Agile
                  td Android               
               tr
                  td Windows
                  td Python
                  td C/C#
               tr
                  td Javascript
                  td Linux
                  td MVC
               
.footer
   p &#169; 2017 Etienne Begert