doctype html
html(lang="en")
	head
		title="Et's Projects"
		link(rel="stylesheet" href="css/style.css")

	body
		.wrap
			.title
				h1 Etienne Begert
				h4#sub Software Developer and cybersecurity enthusiast
			nav.clearfix
				ul.clearfix
					li
						a(href="index.html") Home
					li
						a(href="projects.html") Projects
					li
						a(href="resume.pdf") Resume
				a(href="#" id="pull") Menu
			.main
		.footer
			p &#169; 2017 Etienne Begert